.MuiStepConnector-root{
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
}
.MuiStepConnector-line{
   display: none !important;
}
.MuiStepConnector-active, .MuiStepConnector-completed{
    background-color: blue;
 }