
/*======================
    404 page
=======================*/
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
       font-size:80px;
       }
       
.link_404{      
  color: #fff!important;
    padding: 12px 30px;
    background: #635BFF;
    margin: 20px 0;
    display: inline-block;
    border-radius: 10px;

}
.link_404:hover{      
      background: #4640b8;
  
  }
  

.contant_box_404{ margin-top:-50px;}


  /* px-1 py-1 w-28 md:w-36 text-white md:px-2 md:py-2 bg-[#E86229] rounded-md my-[20px] */